/* global style */

body {
    transition: all 0.56s ease-in-out;
    -webkit-transition: all 0.56s ease-in-out;
    -moz-transition: all 0.56s ease-in-out;
    -ms-transition: all 0.56s ease-in-out;
    -o-transition: all 0.56s ease-in-out;
    background-color: #F8F8FF;
    overflow-y: scroll;
    overflow-x: hidden;
}

* {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    transition: all 0.56s ease-in-out;
    -webkit-transition: all 0.56s ease-in-out;
    -moz-transition: all 0.56s ease-in-out;
    -ms-transition: all 0.56s ease-in-out;
    -o-transition: all 0.56s ease-in-out;
    font-family: 'Raleway', sans-serif;
}

hr {
    width: 100px
}


/* navbar  */


/* color: #f39c12; font */

.navbar-brand img {
    width: 126px;
    height: 30px;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
    opacity: 0.7;
}

.navbar-inverse .navbar-nav>.active>a {
    color: #777
}

.navbar-inverse .navbar-nav>.active>a:hover {
    color: #f39c12;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #f39c12;
}


/* **************** main-top **********************/

.home {
    margin-top: 0;
    background-image: url(../assets/home.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    padding-bottom: 10px;
}

.justify-content .home .img1 {
    width: 118px;
    height: 50px;
}

.home p,
.home h2 {
    color: white;
    margin-left: 20px;
}

.home .text-left {
    margin-top: 15%;
}

.home button,
.home a {
    margin: 30px;
    text-decoration: none;
    color: white;
    padding: 10px
}

button {
    background-color: black;
    color: white;
    opacity: 0.8;
    width: 120px;
    height: inherit;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

button:hover {
    background-color: #f39c12;
    color: black;
    border-color: white;
}

.home a:hover {
    color: #f39c12;
}


/* **************** about ********************** */

.about hr {
    width: 100px;
    background-color: #f39c12;
}

.about p {
    font-size: 18px;
}

.col-lg-10 p {
    font-size: 13px;
}

.about .ico {
    font-size: 72px;
    margin-top: 18%;
}

.about2 {
    margin-bottom: 39px;
}

#img-mod {
    margin-left: -69px;
    width: 341px;
    height: 565px;
}

.about .ico:hover {
    color: #f39c12;
}

.befor-features video {
    width: 100%;
    height: 100%;
}

.befor-features {
    margin-top: 40px;
    padding: 20px
}

.befor-features p {
    padding: 20px
}

.carousel1 {
    background-image: url(../assets/testimonial.jpg);
    background-attachment: fixed;
    height: 600px;
    margin-top: 40px;
}

.carousel-indicators .active {
    background-color: #f39c12;
    border-color: #f39c12;
}

.carousel-indicators li {
    border: 1px solid #f39c12;
}

.carousel1 .carousel-inner>.item>img {
    margin: auto;
    margin-top: 78px;
}

.carousel1 .item h2,
.carousel1 .item h4 span {
    color: #f39c12;
}

.carousel1 .item p {
    text-align: center;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}


/* features */

.features {
    margin-top: 50px
}

.features .text-left,
.features .text-right {
    padding-bottom: 20px;
}

.features .text-left p,
.features .text-right p {
    padding: 10px
}

.features .text-left p {
    padding-left: 20%;
}

.features .text-right p {
    padding-right: 20%;
}

.features .text-left span,
.features .text-right span {
    color: #f39c12;
}

.features .main-features {
    margin-bottom: 40px;
}

.after_feature {
    background-color: black;
    min-height: 200px;
    color: rgb(228, 220, 220);
    padding: 10%;
}

.after_feature p {
    font-weight: bold;
}

.after_feature button {
    width: 150px;
}

.after_feature2 {
    margin-top: 40px;
}

.carousel2 .carousel-inner>.item>img {
    display: inline;
    margin-top: 50px;
    margin-left: 10px;
}

.carousel2 .carousel-indicators {
    bottom: -121px;
}

.carousel3 .carousel-indicators {
    bottom: -70px;
}

.carousel3 .carousel-inner>.item>img {
    display: inline;
    margin: auto;
    margin-top: 50px;
    max-height: 500px;
}


/* available */

.available {
    background-color: #080808;
    padding: 34px;
    margin-top: 160px;
}

.available h2 {
    color: #F8F8FF;
}

.available p {
    color: #d2d2d8;
}

.available span {
    color: #f39c12;
    font-size: 91px;
    position: absolute;
}

.available span:hover {
    color: brown
}


/*---------------------------------------
   SECTION DOWNLOAD              
-----------------------------------------*/

.download {
    background: #f1f1f1;
    margin-top: 140px;
}

.download_screen {
    padding-top: 45px;
}

.download_screen img {
    width: 100%
}

.available_store {
    background: #1a1a1a;
    margin-top: -8px;
    position: relative;
}

.available_title {
    padding-top: 75px;
}

.available_title h2 {
    color: #fff;
    font-size: 30px;
}

.available_title p {
    color: #B5B5B5;
}

.single_store {
    text-align: center;
    border-left: 1px solid #0F1217;
    min-height: 230px;
    padding-bottom: 15px;
    position: relative;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.single_store i {
    color: #f39c12;
    text-align: center;
    opacity: 1;
    font-size: 40px;
    padding-top: 90px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.store_inner {
    position: absolute;
    bottom: 93px;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.store_inner h2 {
    text-align: center;
    font-weight: 300;
    color: #d7dadb;
    font-size: 16px;
}

.single_store:hover {
    background: #121212;
}

.container-download {
    margin-bottom: 22px;
}

.single_store:hover i {
    opacity: 0;
}

.single_store:hover div.store_inner {
    opacity: 1;
}

.no_padding {
    padding-left: 0px;
    padding-right: 0px;
}

.last {
    border-right: 1px solid #0F1217;
}

.contact {
    background: #f1f1f1;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact_form {
    padding-top: 30px;
}

.contact_form .form-control {
    display: block;
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: transparent;
    border: 1px solid #aeaeae;
    background-image: none;
    border-radius: 3px;
    margin-bottom: 15px;
    opacity: .8;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    outline: 0px !important;
}

.contact_form .form-control:focus {
    border: 1px solid #f39c12;
    border-color: #f39c12;
    outline: 0px none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset, 0px 0px 0px rgba(102, 175, 233, 0.6);
}

.contact_form {}

.form-control:-webkit-input-placeholder {
    color: red;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: red;
}

.form-control:-moz-placeholder {
    /* Firefox 19+ */
    color: red;
}

.form-control:-ms-input-placeholder {
    color: red;
}

.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {
    background-color: transparent;
    border: 1px solid #f39c12;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    color: #f39c12;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    outline: 0px !important;
}

.submit-btn:hover {
    background-color: #f39c12;
    color: #fff;
    border-color: #f39c12;
}

.social_icons {
    padding-top: 50px;
    padding-bottom: 70px;
}

.social_icons ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.social_icons ul li {
    list-style: none;
    display: inline;
    padding-left: 10px
}

.social_icons ul li a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    width: 45px;
    height: 45px;
    line-height: 49px;
    color: #9d9d9d;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social_icons ul li a i {
    font-size: 20px;
}

.social_icons ul li a:hover {
    background: #f39c12;
    border: 1px solid #f39c12;
    color: #fff
}

.error {
    color: #f39c12;
    display: block;
    padding-bottom: 15px;
    font-size: 18px
}

.error i {
    padding-right: 10px;
    font-size: 18px
}

.Sucess {
    color: #4DB849;
    display: block;
    padding-bottom: 15px;
    font-size: 18px;
    text-align: center;
}

.Sucess i {
    padding-right: 10px;
    font-size: 18px;
    color: #4DB849
}

.contact_form .form-control {
    color: #3d3d3d;
}

#message {
    height: 117px;
    resize: none;
}


/*---------------------------------------
   SECTION FOOTER              
-----------------------------------------*/

.copyright {
    background-color: #1A1D22;
    padding-bottom: 65px;
    padding-top: 65px;
    border-bottom: 3px solid #f39c12;
}

.copyright h2 {
    height: 0px;
    margin: 0px;
}

.copy_right_text {
    width: 60%;
}

.copy_right_text p {
    color: #8C8B8A;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
}

.copy_right_text p a {
    text-decoration: none;
    color: #f39c12;
}

.copy_right_text p span {
    font-weight: 300;
}

.scroll_top {
    text-align: right;
}

.scroll_top a {
    background: #f39c12;
    padding: 25px;
}

.scroll_top a i {
    color: #fff;
    font-size: 25px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: red;
    background-image: none;
    color: rgb(0, 0, 0);
}

.spn_hol {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 50000;
    opacity: 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.spinner {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 50%;
    margin-left: -35px;
    height: 24px;
    width: 70px;
    text-align: center;
    display: block;
}

.spinner>div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@media(max-width:428px) {
    form button {
        font-size: 1px;
    }
    .carousel1 .item p {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.befor-features button {
    margin-bottom: 30px;
}